@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.toastSuccess{
  background-color: rgb(19, 19, 20)!important;
  color: rgb(186, 249, 167);
  font-size: 19px!important;
  border-radius: 9px!important;
  font-family: 'Inter', sans-serif!important;
  font-family: 'Kenia', sans-serif!important;
  font-family: 'Montserrat', sans-serif!important;
  font-family: 'Russo One', sans-serif!important;
  box-shadow: 0 0 0 3px rgba(115, 250, 103, 0.2)!important;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.animated-gradient {
  background: linear-gradient(to right, #73027e, #bd0580 , #d85fb0 ,#5c023e);
  -webkit-background-clip: text;
  background-clip: text; /* Propiedad estándar para compatibilidad */
  color: transparent;
  background-size: 200% 100%;
  animation: gradientAnimation 8s linear infinite;
}

